
.table{ 
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100vw;
    margin-top: 20px;
    border: 1px solid grey;
    z-index: 0;
    overflow:hidden;
    }
.table-wrapper{

    width: 600px;
    overflow-x: scroll;    
    position: relative;
    border:1 px solid red;
    }
.header-wrapper{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    background-color: grey;
    color: honeydew;
    top: 0;
    margin-top: -200px;
    z-index: 10;
    transition: all 50ms;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    overflow:hidden;    

  }
.row-body{
    display: flex;
    flex-direction: row;
}
.grey{
    background-color: rgb(224, 224, 224);
}

.item{
    display: flex;
    height:50px;
    min-width:200px;
    overflow-wrap: break-word;
    padding-left: 8px;
    padding-right: 10px;
    border-top: 1px solid grey;
    border-right: 1px dotted black;
}
.body-wrapper{
    margin-top: 50px;
}

